<footer>
    <a href="#" class="footer__logo">SK</a>
    <ul class="permalinks">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Projects</a></li>
        <li><a href="#contact">Contacts</a></li>
    </ul>
    <div class="footer__socials">
        <a href="https://linkedin.com" style="pointer-events: none"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>
    <div class="footer__copyright">
        <small>&copy;Sourav Kumar</small>
    </div>
</footer>
