<section id="about">
    <h5>Get To Know</h5>
    <h2>About Me</h2>
    <div class="container about__container">
        <div class="about__me">
            <div class="about__me-image">
                <img src="assets/me-about.png" alt="About Image">
            </div>
        </div>
        <div class="about__content">
            <div class="about__cards">
                <article class="about__card">
                    <i class="fa fa-suitcase about__icon" aria-hidden="true"></i>
                    <h5>Experience</h5>
                    <small>1+ Years Working</small>
                </article>
                
                <article class="about__card">
                    <i class="fa fa-folder about__icon" aria-hidden="true"></i>
                    <h5>Projects</h5>
                    <small>3+ Completed</small>
                </article>
            </div>
            <p>
                To seek and maintain full-time position in IT industry that offers professional challenges
                utilizing interpersonal skills, excellent time management and problem-solving skills.
                Have clear understanding of Web Development and trained as .NET Developer.
                Motivated to learn, grow and excel in Software Industry.
            </p>
            <a href="#contact" class="btn btn-primary">Let's Talk</a>
        </div>
    </div>
</section>
