<section id="contact">
    <h5>Get In Touch</h5>
    <h2>Contact Me</h2>
    <div class="container contact__container">
        <div class="contact__options">
            <article class="contact__option">
                <i class="fa fa-envelope contact__option-icon" aria-hidden="true"></i>
                <h4>Email</h4>
                <h5>souravkumar9991sk@gmail.com</h5>
                <a href="mailto:souravkumar9991sk@gmail.com">Send a message</a>
            </article>
            <article class="contact__option">
                <i class="fa fa-linkedin-square contact__option-icon" aria-hidden="true"></i>
                <h4>LinkedIn</h4>
                <h5></h5>
                <a href="mailto:souravkumar9991sk@gmail.com" style="pointer-events: none">Send a message</a>
            </article>
            <article class="contact__option">
                <i class="fa fa-whatsapp contact__option-icon" aria-hidden="true"></i>
                <h4>WhatsApp</h4>
                <h5>8295226384</h5>
                <a href="https://wa.me/918295226384">Send a message</a>
            </article>
        </div>
        <!-- <form action="">
            <input type="text" name="name" placeholder="Your Full Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form> -->
    </div>
</section>
