<section id="skills">
    <h5>What I Know</h5>
    <h2>Skills</h2>
    <div class="container skills__container">
        <article class="skill">
            <div class="skill__head">
                <h3>Languages</h3>
            </div>
            <ul class="skill__list">
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>C</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>C++</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Java</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Python</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>C#</p>
                </li>
            </ul>
        </article>

        <article class="skill">
            <div class="skill__head">
                <h3>IDEs</h3>
            </div>
            <ul class="skill__list">
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Visual Studio</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>VS Code</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>SQL Server Management Studio</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>MySQL Workbench</p>
                </li>
            </ul>
        </article>

        <article class="skill">
            <div class="skill__head">
                <h3>Others</h3>
            </div>
            <ul class="skill__list">
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Data Structures & Algorithms</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Problem Solving</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Git</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Azure</p>
                </li>
            </ul>
        </article>
    </div>
</section>
