<section id="portfolio">
    <h5>My Recent Work</h5>
    <h2>Projects</h2>

    <div class="container portfolio__container">
        <article class="portfolio__item">
            <div class="portfolio__item-image">
                <img src="./assets/portfolio5.png" alt="portfolio1">
            </div>
            <h3>HRMS</h3>
            <div class="portfolio__item-cta">
                <a href="https://github.com" class="btn" target="_blank" [class.disabled]="true">Github</a>
                <a href="https://github.com" class="btn btn-primary" target="_blank" [class.disabled]="true">Live Demo</a>
            </div>
        </article>
        <article class="portfolio__item">
            <div class="portfolio__item-image">
                <img src="./assets/portfolio2.png" alt="portfolio1" class="portfolio-image">
            </div>
            <h3>Movies Eticket</h3>
            <div class="portfolio__item-cta">
                <a href="https://github.com/skjinagal/eTickets" class="btn" target="_blank">Github</a>
                <a href="https://moviesetickets.azurewebsites.net/movies" class="btn btn-primary" target="_blank">Live Demo</a>
            </div>
        </article>
        
    </div>
</section>
